<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become fill width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="1000">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 364.5 36.625">
      <defs>
      </defs>
      <path id="GLENNGASMIN" d="M41.751,73.3c5.8,0,9.951-2.45,12.2-7.15L53.2,72.5h6.7V54.8H40.5v5.65H52.4c-0.6,4.05-5.25,7.2-10.6,7.2-6.65,0-10.751-4.85-10.751-12.651s4.05-12.6,10.7-12.6c5.7,0,9.7,3.55,10,8.85l6.95-.5c-0.25-7.9-7.6-14-16.9-14-10.3,0-17.651,7.551-17.651,18.2S31.551,73.3,41.751,73.3Zm24.2-.8H89.1V66.85H72.851V37.5h-6.9v35Zm27.1,0h23.4V66.85h-16.5v-9.7h13.5V51.5h-13.5v-8.35h16.5V37.5H93.05v35Zm29,0H129V48.049L144.4,72.5h7.45v-35H144.9V61.949L129.5,37.5H122.05v35Zm36.6,0H165.6V48.049L181,72.5h7.45v-35H181.5V61.949L166.1,37.5H158.65v35ZM211.4,73.3c5.8,0,9.951-2.45,12.2-7.15l-0.75,6.35h6.7V54.8h-19.4v5.65h11.9c-0.6,4.05-5.25,7.2-10.6,7.2C204.8,67.65,200.7,62.8,200.7,55s4.05-12.6,10.7-12.6c5.7,0,9.7,3.55,10,8.85l6.95-.5c-0.25-7.9-7.6-14-16.9-14-10.3,0-17.651,7.551-17.651,18.2S201.2,73.3,211.4,73.3Zm22.1-.8h7l3.3-9.8h12.9l3.25,9.8h7l-11.7-35H245.2Zm12.2-15.451,4.55-13.6,4.551,13.6h-9.1ZM283.151,73.3c7.651,0,13.4-4.6,13.4-10.7,0-11.2-18.951-9.451-18.951-16.3,0-2.45,2.4-3.95,5.15-3.95,2.85,0,5.55,1.65,6,4.6l6.9-.5c-0.55-6.4-6.6-9.751-12.9-9.751-6.9,0-12.051,4-12.051,10.151,0,11.8,18.952,9.251,18.952,16.4,0,2.95-3.2,4.4-6.2,4.4-4.75,0-7.75-3.6-7.75-8.3l-6.951.5C268.75,67.95,274.951,73.3,283.151,73.3Zm18.3-.8h6.9V49.2l9,23.3h5.1l9-23.3V72.5h6.9v-35h-9L319.9,62.4l-9.5-24.9H301.45v35Zm43.7,0h6.9v-35h-6.9v35Zm13.7,0H365.8V48.049L381.2,72.5h7.45v-35H381.7V61.949L366.3,37.5H358.85v35Z" transform="translate(-24.156 -36.688)"
      fill="#f3e5ab"/>
  </svg>
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between items-center"
        data-aos="fade-up"
        data-aos-duration="1000">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-m font-medium">
            <span>filmmaker</span>
            <span class="font-bold">EDITOR</span>
            <span class="italic">friend</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-m font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="items-center inline-flex gap-3 relative">
              <li>
              <a
                href="https://www.instagram.com/_glennjamin/"
                class="hover:text-secondary/80 text-secondary"
                ><svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="currentcolor"/>
                  <path d="M18 5C17.4477 5 17 5.44772 17 6C17 6.55228 17.4477 7 18 7C18.5523 7 19 6.55228 19 6C19 5.44772 18.5523 5 18 5Z" fill="currentcolor"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1.65396 4.27606C1 5.55953 1 7.23969 1 10.6V13.4C1 16.7603 1 18.4405 1.65396 19.7239C2.2292 20.8529 3.14708 21.7708 4.27606 22.346C5.55953 23 7.23969 23 10.6 23H13.4C16.7603 23 18.4405 23 19.7239 22.346C20.8529 21.7708 21.7708 20.8529 22.346 19.7239C23 18.4405 23 16.7603 23 13.4V10.6C23 7.23969 23 5.55953 22.346 4.27606C21.7708 3.14708 20.8529 2.2292 19.7239 1.65396C18.4405 1 16.7603 1 13.4 1H10.6C7.23969 1 5.55953 1 4.27606 1.65396C3.14708 2.2292 2.2292 3.14708 1.65396 4.27606ZM13.4 3H10.6C8.88684 3 7.72225 3.00156 6.82208 3.0751C5.94524 3.14674 5.49684 3.27659 5.18404 3.43597C4.43139 3.81947 3.81947 4.43139 3.43597 5.18404C3.27659 5.49684 3.14674 5.94524 3.0751 6.82208C3.00156 7.72225 3 8.88684 3 10.6V13.4C3 15.1132 3.00156 16.2777 3.0751 17.1779C3.14674 18.0548 3.27659 18.5032 3.43597 18.816C3.81947 19.5686 4.43139 20.1805 5.18404 20.564C5.49684 20.7234 5.94524 20.8533 6.82208 20.9249C7.72225 20.9984 8.88684 21 10.6 21H13.4C15.1132 21 16.2777 20.9984 17.1779 20.9249C18.0548 20.8533 18.5032 20.7234 18.816 20.564C19.5686 20.1805 20.1805 19.5686 20.564 18.816C20.7234 18.5032 20.8533 18.0548 20.9249 17.1779C20.9984 16.2777 21 15.1132 21 13.4V10.6C21 8.88684 20.9984 7.72225 20.9249 6.82208C20.8533 5.94524 20.7234 5.49684 20.564 5.18404C20.1805 4.43139 19.5686 3.81947 18.816 3.43597C18.5032 3.27659 18.0548 3.14674 17.1779 3.0751C16.2777 3.00156 15.1132 3 13.4 3Z" fill="currentcolor"/>
                  </svg>
                </a>
            </li><li>
              <a
                href="https://vimeo.com/732283044"
                class="hover:text-secondary/80 text-secondary"
                ><svg fill="currentcolor" viewBox="0 0 28 24" height="64" width="64" xmlns="http://www.w3.org/2000/svg"><path d="m27.727 5.561q-.17 4.022-5.658 11.094-5.675 7.345-9.578 7.345-2.42 0-4.09-4.48-.75-2.726-2.25-8.214-1.227-4.465-2.675-4.465c-.828.346-1.542.782-2.179 1.307l.015-.012-1.313-1.672q.409-.358 1.84-1.645t2.215-1.968q2.658-2.352 4.107-2.488c.127-.019.273-.03.422-.03.867 0 1.646.376 2.183.973l.002.003c.744.96 1.241 2.145 1.377 3.438l.003.03q.75 4.891 1.125 6.357.938 4.24 2.045 4.24.869 0 2.625-2.744c.867-1.187 1.513-2.594 1.844-4.119l.013-.073q.222-2.369-1.858-2.369c-.748.014-1.455.176-2.098.457l.035-.014q2.045-6.698 7.822-6.51 4.278.139 4.023 5.558z"/></svg></a
              >
            </li><li>
              <a
                href="mailto:glennjamin.edits@gmail.com"
                class="hover:text-secondary/80 text-secondary"
                ><svg
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  height="64"
                  width="64"
                  ><path d="M0 0h24v24H0z" fill="none"></path><path
                    d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                    fill="currentColor"></path></svg
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div class="flex w-full">
      </div>
    </div>
  </div>
</section>
